$white: rgba(255, 255, 255, 1);
$light-gray: rgba(120, 120, 120, 1);
$black: rgba(0, 0, 0, 1);
$trans-black-a: rgba($black, 0.2);
$trans-black-b: rgba($black, 0.05);

$fruit-salad: rgba(86, 166, 60, 1);
