@charset 'UTF-8';

@import '_core.colors.scss';

body
{
    font-family: "Helvetica Neue";
    font-size: 10pt;
}

#svg-defs
{
    .major-line
    {
        stroke: $trans-black-a;
        stroke-width: .5px;
    }

    .minor-line
    {
        stroke: $trans-black-b;
        stroke-width: .5px;
    }
}

.template-view
{
    .chart
    {
        overflow-x: auto;
        overflow-y: hidden;
        width: 250px;
        height: 275px;
        border: 1px solid $light-gray;
        box-shadow: 10px 10px 5px $light-gray;

        .chart-x-axis
        {
            .tic-mark
            {
                .tic-mark-line
                {
                    stroke: $black;
                    stroke-width: .15;
                }

                .tic-mark-text
                {
                    font-size: .5rem;
                    writing-mode: tb;
                    glyph-orientation-vertical: 90;
                }
            }
        }

        .chart-y-axis
        {
            position: absolute;
            width: 25px;
            height: 250px;

            .background-fill
            {
                fill: $white;
            }
        }

        .bar
        {
            .inner-bar
            {
                -webkit-animation: animate-dash-offset 4s ease forwards;
                stroke: $fruit-salad;
                stroke-width: 1px;
            }

            &:hover .inner-bar
            {
                stroke-width: 5px;
            }
        }

        .data-points-line
        {
            -webkit-animation: animate-dash-offset 3s ease-in 1 forwards;
            stroke: $fruit-salad;
            stroke-width: 2px;
            fill: none;
            filter: url(#line-light);
        }

        .data-points-fill
        {
            fill: rgba($fruit-salad, 10/100);
        }

        .data-points-blip
        {
            fill: red;
            stroke: none;
        }

        .data-points-blip-line
        {
            stroke: rgba(255, 255, 0, 1);
        }

        .best-fit
        {
            // -webkit-animation: animate-dash-offset 1s ease alternate infinite;
            -webkit-animation: animate-dash-offset 1s ease 3s forwards;
            stroke-width: .25px;
            stroke: black;
        }

        .color-band
        {
            &.green
            {
                fill: rgba(0, 255, 0, 0.1);
            }

            &.yellow
            {
                fill: rgba(255, 255, 0, 0.1);
            }

            &.orange
            {
                fill: rgba(255, 174, 0, 0.1);
            }

            &.red
            {
                fill: rgba(255, 0, 0, 0.1);
            }
        }
    }
}

@-webkit-keyframes animate-dash-offset
{
    100%
    {
        stroke-dashoffset: 0px;
    }
}

@-webkit-keyframes animate-stroke-width
{
    100%
    {
        stroke-width: 1px;
    }
}
