// out: ../css/core.css

@light-gray: rgba(120,120,120,1);

.template-view
{
    .chart
    {
        width: 250px;
        height: 250px;
        border: 1px solid @light-gray;
        box-shadow: 10px 10px 5px @light-gray;
        overflow-x: auto;
        overflow-y: hidden;

        .chart-y-axis
        {
            width: 25px;
            height: 250px;
            position:absolute;

            .background-fill
            {
                fill: rgba(255,255,255,1);
            }
        }

        .bar
        {
            .inner-bar
            {
                // -webkit-animation: animate-dash-offset 1s ease forwards;
                -webkit-animation: animate-dash-offset 1s ease alternate infinite;
                stroke: hsl(204, 80%, 23%);
                stroke-width: .25px;
            }

            &:hover .inner-bar
            {
                stroke-width: 5px;
            }
        }

        .data-points
        {
            // -webkit-animation: animate-stroke-width 1s ease forwards;
            -webkit-animation: animate-stroke-width 3s ease alternate infinite;
            stroke:green;
            stroke-width: 0;
            fill:none;
        }

        .best-fit
        {
            -webkit-animation: animate-dash-offset 1s ease alternate infinite;
            stroke-width: .25px;
            stroke: black;
        }

        .major-line
        {
            stroke: hsla(0, 0%, 0%, 0.15);
            stroke-width: .5px;
        }

        .minor-line
        {
            stroke: hsla(0, 0%, 0%, 0.1);
            stroke-width: .25px;
        }

        .color-band
        {
            &.green
            {
                fill: rgba(0, 255, 0, 0.15);
            }

            &.yellow
            {
                fill: rgba(255, 255, 0, 0.15);
            }

            &.orange
            {
                fill: rgba(255, 174, 0, 0.15);
            }

            &.red
            {
                fill: rgba(255, 0, 0, 0.15);
            }
        }
    }
}

@-webkit-keyframes animate-dash-offset
{
    100%
    {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes animate-stroke-width
{
    100%
    {
        stroke-width: .5px;
    }
}
