<div id="{{id}}" class="chart">
	<svg class="chart-y-axis" width="{{svgData.chartYAxisWidth}}" height="{{svgData.chartBodyHeight}}" viewbox="0 0 {{svgData.chartYAxisWidth}} {{svgData.graphHeight}}" preserveaspectratio="none">
		<rect class="background-fill" width="100%" height="100%" />
		<rect width="100%" height="100%" fill="url(#horizontal-grid)" />
	</svg>

	<svg width="{{svgData.chartWidth}}" height="{{svgData.chartHeight}}">
		<svg class="chart-body" width="{{svgData.chartBodyWidth}}" height="{{svgData.chartBodyHeight}}" x="{{svgData.chartBodyOffset}}" y="0" viewbox="0 0 {{svgData.chartBodyWidth}} {{svgData.graphHeight}}" preserveaspectratio="none">
			{{#each colorBands}}
				<rect class="color-band {{this.className}}" width="{{this.width}}" height="{{this.height}}" x="{{this.x}}" y="{{this.y}}" />
			{{/each}}

			<rect width="100%" height="100%" fill="url(#horizontal-grid)" />

			{{#each barData}}
				<g class="bar">
					<line class="inner-bar" y1="{{min}}" x1="{{point}}" y2="{{max}}" x2="{{point}}" stroke-dashoffset="{{height}}" stroke-dasharray="{{height}}" />
				</g>
			{{/each}}

			{{#each dataPoints}}
				<defs>
					<clipPath id="{{../id}}-{{@index}}-clip-path">
						<path d="{{this.path}} {{this.pathend}}" />
					</clipPath>
				</defs>

				<rect class="data-points-fill" width="100%" height="100%" clip-path="url(#{{../id}}-{{@index}}-clip-path)" />
				<path id="{{../id}}-{{@index}}-data-points-path" class="data-points-line" d="{{this.path}}" stroke-dashoffset="{{this.length}}" stroke-dasharray="{{this.length}}" />
			{{/each}}

			{{#each trendLines}}
				<line class="best-fit" x1="{{start}}" y1="{{avgA}}" x2="{{end}}" y2="{{avgB}}" stroke-dashoffset="{{length}}" stroke-dasharray="{{length}}" />
			{{/each}}
		</svg>

		<svg class="chart-x-axis" width="{{svgData.chartWidth}}" height="{{svgData.chartXAxisHeight}}" x="{{svgData.chartBodyOffset}}" y="{{svgData.chartBodyHeight}}">
			{{#each svgData.chartXAxisTicMarks}}
				<g class="tic-mark" transform="translate({{x}}, 0) rotate(-45)">
					<line class="tic-mark-line" y1="0" x1="0" y2="5" x2="0" />
					<text class="tic-mark-text" x="0" y="6">
						{{text}}
					</text>
				</g>
			{{/each}}
		</svg>
	</svg>
</div>
